.background {
    background: linear-gradient(50deg, #ffd89b, #19547b);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.header {
    width: 100%;
}

.header-main {
    padding-top: 40px;
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.photo-container {
    width: 100%;
}

.avatar {
    background-image: url("../images/photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    height: 230px;
    width: 230px;
    border-radius: 50%;
}

.header-text,
.subtext {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

.subtext {
    font-size: 30px;
}

.header-subtext {
    margin-top: 10px;
    font-size: 20px;
}

.main {
    padding-top: 40px;
    margin: 0 auto;
    width: 60%;
}

.techs {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    padding: 50px;
    background-color:   #ffebcc80;
    border-radius: 20px;
}

.text-item {
    margin-top: 20px;
    width: 150px;
    height: auto;
}

.tech-item {
    margin-top: 20px;
    border-radius: 20%;
}

.tech-item:hover {
    transition: .5s ease-out;
    background-color: #19547b80;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.html-img,
.css-img,
.js-img,
.jq-img {
    background-image: url("../images/html.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 200px;
}

.css-img {
    background-image: url("../images/css.png");
}

.js-img {
    background-image: url("../images/js.png");
}

.jq-img {
    background-image: url("../images/jquery.png");
}

.works {
    margin: 10% auto;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.first-project,
.second-project,
.third-project {
    background-image: url("../images/project1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.first-project:hover,
.second-project:hover,
.third-project:hover{
    /*добавить анимацию*/
}

.second-project {
    background-image: url("../images/project2.png");
}

.third-project {
    background-image: url("../images/project3.png");
}

.works-text {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.project-holder {
    padding-top: 50px;
    width: 400px;
    height: 200px;
}

.footer {
    margin: 10% auto 0 0;
    width: 100%;
    background: #19547bcc;
}

.bottom-contacts {
    text-align: center;
    color: #ffffff;
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
}

.inner-footer{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 750px) {
    .project-holder {
        padding-top: 50px;
        width: 100vw;
        height: 100%;
    }

    .avatar{
        height: 130px;
        width: 130px;
    }

    .main, .footer{
        width: 100%;
    }

    .first-footer-part{
        width:100%;
    }

    .header-text{
        font-size: 20px;
    }

    .subtext{
        font-size: 5px;
    }
}